In [1]:
import pandas as pd

Notas del taller en orden de MARES

In [2]:
tl=pd.read_excel('https://github.com/ComputationalMethods/Evaluacion_2021-1/raw/main/NotasTaller_2021.xlsx')

JSON de calificaciones

In [3]:
df=pd.read_json('https://raw.githubusercontent.com/ComputationalMethods/Evaluacion_2021-1/main/calificaciones.json',orient='records')

`merge` las dos bases de datos usando la columna `'student_id'` y sólo para los datos de la base de datos izquierda, `tl`→ `how='left'`

In [4]:
df=tl.merge(df,on='student_id',how='left')

In [5]:
for k in [c for c in df.columns if c.find('Parcial')>-1 or c.find('Trabajo_Final')>-1]:
    df[f"{k.split('_')[0][0]}{k.split('_')[-1][0]}"]=df[k].apply(lambda d: d.get('value'))

In [6]:
df['T']=df['Tareas'].apply(lambda l:sum([d.get('value') for d in l if d.get('Tarea')])/5)

In [7]:
df['TT']=df.apply(lambda row: round((row['Taller']+row['T'])/2,2),axis='columns')

In [8]:
df[['student_id','P1','P2','P3','TT']].fillna(0)

    student_id   P1   P2   P3    TT
0   1001059237  4.5  4.5  4.5  4.89
1   1005896770  4.0  4.5  3.5  3.80
2   1045026699  4.5  4.5  4.0  4.05
3   1039474879  3.5  3.5  4.0  4.86
4   1086418061  3.5  4.5  4.0  4.33
5   1000319349  4.0  4.0  4.0  3.80
6   1000401376  4.5  4.0  4.0  4.67
7   1001368196  5.0  4.5  4.0  4.75
8   1001445953  4.5  5.0  4.0  4.89
9   1017270713  4.5  5.0  4.5  2.71
10  1020495309  3.5  3.0  4.0  4.05
11  1152708672  3.5  5.0  4.0  4.57
12  1097408176  0.0  0.0  0.0  4.14
13  1007694473  4.5  5.0  4.5  4.75
14    98540850  3.5  0.0  0.0  2.07
15  1113674432  2.0  5.0  0.0  3.67
16  1098807231  4.5  2.0  3.0  3.71
17  1000417189  5.0  5.0  4.0  4.86
18  1152468237  4.0  4.5  4.5  3.26
19  1007338060  4.5  3.0  3.0  4.71
20  1007374246  5.0  5.0  4.0  4.71
21  1004922490  4.5  4.5  4.5  4.75
22  1001577699  5.0  5.0  4.5  5.00
23  1004776769  5.0  4.5  4.5  4.71